PORT=5000
MONGO_URI= mongodb+srv://anugeethasaravananr_db_user:<db_password>@cluster0.utftx2u.mongodb.net/?appName=Cluster0
RAZORPAY_KEY_ID=rzp_test_ThlEK63tcxjo8J
RAZORPAY_KEY_SECRET=Dnd1UepDsZgeddIxQmGH25Db
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=your email
SMTP_FROM=your@gmail.com
